@model IEnumerable<ProjectManager.Models.Project>

<div class="modal fade-in" id="projects-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"></div>

<div class="row">
    <div class="col-md-6">
        <h2>Projects</h2>
    </div>
    
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <p>
            <a class="btn btn-primary" asp-action="Create" id="create-project">New Project</a>
        </p>
    </div>
</div>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="ctrl-col">
                <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-fw fa-pencil"></i></a>
                <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-fw fa-trash-o"></i></a>                
            </td>
            <td>
                <a class="btn btn-xs btn-info btn-expand" type="button" data-target="#proj_@(item.Id)_tasks"><i class="fa fa-plus-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
        <tr class="collapse" role="tabpanel" id="proj_@(item.Id)_tasks">
            <td colspan="2">
                <table class="table">
                    <tbody>
    @foreach (var task in item.Tasks) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => task.Name)
                            </td>
                        </tr>    
    }
                    </tbody>
                </table>
            </td>
        </tr>
}
    </tbody>
</table>
